body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #151515;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* header */
.header {
    background-color: #151515;
}
.header-main {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: transparent;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu__link {
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color .3s linear;
}
.menu__link--active {
    color: #0066FF;
}
.menu__link:hover {
    color: #0066FF;
}
.menu__list {
    display: flex;
    gap: 35px;
}

/* top */

.main {
    flex-grow: 1;
}

.top {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
}
.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}
.top__link {
    display: inline-block;
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.swiper::after {
    content: '';
    background-color: rgba(21, 21, 21, .3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.swiper-wrapper {
    background: rgba(21, 21, 21, .3);
}
.swiper-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}
.swiper-pagination-bullet  {
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 120px;
    height: 6px;
    background-color: #ffffff;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 50px;
}

/* why-lease */
.why-lease {
    padding: 150px 0;
}
.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}
.why-lease__item-img {
    display: inline-block;
    margin-bottom: 30px;
}
.why-lease__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why-lease__item-text {
    font-size: 16px;
    text-align: left;
}

/* how-does */
.how-does {
    padding-bottom: 150px;
}
.how-does__inner {
    max-width: 600px;
    margin: 0 auto;
}
.how-does__title {
   margin-top: 50px;
   font-size: 24px;
   font-weight: 700; 
}

.how-does__list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}
.how-does__item {
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}
.how-does__item::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.how-does__item + .how-does__item {
    margin-top: 40px;
}

/* video */
.video {
    padding-bottom: 150px;
    text-align: center;
}
.video__title {
    margin-bottom: 20px;
}
.video__text {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.video__content {
    display: block;
    margin: 0 auto;
}

/* important */
.important {
    padding-bottom: 150px;
}
.important__title {
    margin-bottom: 20px;
}
.important__text {
    margin: 0 auto 50px;
    width: 580px;
}
.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.important__item {
    max-width: 270px;
}
.important__item-img {
    margin-bottom: 20px;
}

/* footer */
.footer {
    padding: 50px 0 32px;
    background-color: #151515;
    color: #FFFFFF;
}
.footer__menu {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.footer__menu-list {
    min-width: 250px;
}
.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}
.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}
.footer__menu-link {
    transition: color .3s linear;
}
.footer__menu-link:hover {
    color: #0066FF;
}

.footer__menu-title {
    padding-bottom: 20px;
}

.app {
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer__copy {
    max-width: 800px;
    margin: 0 auto 30px;
    font-size: 12px;
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.copy__nav-link {
    transition: color .3s linear;
}
.copy__nav-link:hover {
    color: #0066FF;
}


/* contacts */
.contacts {
    padding: 100px 0 150px;
}
.contacts__title {
    margin-bottom: 20px;
}
.contacts__text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
    padding: 0 100px;
}
.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form__textarea {
    width: 100%;
}
.form__input {
    display:  inline-block;
    padding:  18px 20px;
    margin-bottom: 50px;
    width: 270px;
    border: 1px solid #0066FF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #151515;
}
.form__input::placeholder,
.form__textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
}
.form__textarea {
    margin-bottom: 50px;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #0066FF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
}
.form__button {
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #151515;
    padding: 13px 61px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
}

/* blog */
.blog {
    padding-bottom: 150px;
}
.blog__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}
.blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog__item-img {
    width: 100%;
    margin-bottom: 30px;
}
.blog__item-title {
    flex-basis: 447px;
    font-size: 24px;
    font-weight: 700;
}
.blog__item-link {
    color: #FFFFFF;
    background-color: #0066FF;
    font-size: 16px;
    padding: 4px 20px;
}
.show-link {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #151515;
    padding: 13px;
    max-width: 225px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

/* choose */
.choose {
    padding: 100px 0 150px;
}
.tabs {
    margin-bottom: 70px;
}
.tabs__btn {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
}
.tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    padding: 0;
}
.tabs__btn-item--active {
    color: #0066FF;
}
.tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}
.tabs__content-item.tabs__content-item--active {
    display: grid;
}
.card {
    text-align: center;
}
.card__content {
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: 0;
}
.card__title {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    
}
.card__text {
    margin-bottom: 20px;
}
.card__price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.card__link {
    display: block;
    color: #0066FF;
    border: 1px solid #0066FF;
    border-top: 0;
}

.menu__button {
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    display: none;
    position: relative;
}
.menu__button span {
    height: 2px;
    background-color: #fff;
    width: 100%;
}

@media (max-width: 1180px) {
    .important__list {
        gap: 30px 20px;
    }
    .important__item {
        min-width: 100%;
    }
    .important__item-img {
        width: 100%;
    }
    
}

@media (max-width: 1060px) {
    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .why-lease__item {
        text-align: center;
        padding: 0 10px;
    }
    .video__content {
        width: 100%;
    }
    .footer__menu {
        justify-content: space-between;
        padding: 0 10px;
    }
    .footer__menu-list {
        min-width: 0;
    }
    
}


@media (max-width: 860px) {
    .header__inner {
        padding-right: 5px;
        padding-left: 5px;
        align-items: center;
    }
    .menu__button {
        display: flex;
    }
    .logo,
    .menu__button {
        z-index: 10;
    }

    .menu__list {
        position: absolute;
        z-index: 5;
        height: 100vh;
        background-color: #151515;
        padding-top: 200px;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s;
    }
    .menu__list.menu__list--active {
        transform: translateY(0%);
    }
    .important__list {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 768px) {
    .title {
        font-size: 70px;
    }
    .top__link {
        font-size: 28px;
        padding: 16px;
        max-width: 360px;
    }
    .swiper-pagination-bullet {
        width: 60px;
    }
    .swiper-pagination-bullet-active {
        height: 4px;
    }
    .video__content {
        height: 400px;
    }
   .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
   }
}

@media (max-width: 610px) {
    .important__text {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .title {
        font-size: 60px;
    }
    .top__link {
        font-size: 24px;
        max-width: 310px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px;
    }
    .swiper-pagination-bullet {
        width: 35px;
    }
   .why-lease__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .how-does__item {
        width: auto;
    }
    .section-title {
        font-size: 34px;
    }
    .how-does__list {
        padding: 30px 0 40px;
    }
    .how-does {
        padding-bottom: 50px;
    }
    .how-does__item {
        padding: 65px 0 19px 0;
        margin-right: auto;
    }
    .how-does__item::before {
        right: 0;
        margin: 0 auto;
        height: 50px;
        width: 50px;
        font-size: 32px;
    }
    .how-does__item + .how-does__item {
        margin-top: 20px;
    }
    .video {
        padding-bottom: 50px;
    }
    .video__content {
        height: 250px;
    }
    .important__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .copy__nav-list,
    .app {
        flex-direction: column;
        align-items: center;
    }
    .copy__nav-list {
        gap: 20px;
    }
}